<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/pkg/popper/popper.min.js">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <link rel="stylesheet" href="../../static/pkg/bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <script src="../../static/pkg/bootstrap-4.6.2-dist/js/bootstrap.min.js"></script>
    <script src="../../static/pkg/jquery-3.7.1/jquery-3.7.1.min.js"></script>
    <style>
        .login{
            width: 18rem; 
            margin: 150px auto;
            box-shadow: 2px 2px 12px 2px #ccc;
        }
    </style>
</head>

<body>
    <div class="container">
        
        <div class="card login">
            <img src="../../images/半天使.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p>添加成功！</p>
                <a href="./index.html">返回管理员首页</a>
            </div>
          </div>
        
    </div>
</body>

</html>