<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/pkg/popper/popper.min.js">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <link rel="stylesheet" href="../static/pkg/bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <script src="../static/pkg/bootstrap-4.6.2-dist/js/bootstrap.min.js"></script>
    <script src="../static/pkg/jquery-3.7.1/jquery-3.7.1.min.js"></script>
    
</head>
<body>
    
</body>
</html>